* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #000;
    color: #fff;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 30vw 30vw 40vw;
    grid-auto-rows: 30vw;
}

.row3 {
    display: grid;
    grid-template-rows: 10vw 10vw 10vw;

    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.column3 {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    
   
}

.colum5{
    display: grid;
    grid-template-columns: 10vw 5vw 10vw 5vw 10vw;
}