* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #000;
    color: #fff;

    height: 100vh;

    flex-direction: column;
}

header{
    display: grid;
    grid-template-columns: 25vw 10vw 10vw 10vw 10vw 35vw;
    grid-template-rows: 6vw;
    margin-bottom: 2vw;
}

header .button{
    width: 5vw;
    height: 3vw;
    border-radius: 1vw;
    font-size: 1.5vw;

    color: #000;
    background: #fff;
}

main {
    display: grid;
    grid-template-columns: 30vw 30vw 40vw;
    grid-auto-rows: 30vw;
}

.row3 {
    display: grid;
    grid-template-rows: 10vw 10vw 10vw;

    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.column3 {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    
   
}

.colum5{
    display: grid;
    grid-template-columns: 10vw 5vw 10vw 5vw 10vw;
}

.directional{
    background: #fff;
    border-radius: 15vw;

}

.directional button{
    background: none;
    border: none;
    font-size: 3vw;
}

button{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
}

.slider{
    transform: rotate(90deg);

    appearance: none;
    -webkit-appearance: none;

    width: 20vw;
    height: 6vw;
    border-radius: 3vw;

    outline: none;
    background: #fff;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;

    width: 6vw;
    height: 6vw;
    border-radius: 3vw;

    background: #707070;
    cursor: pointer;
}

.slider::-moz-range-thumb{

    width: 6vw;
    height: 6vw;
    border-radius: 3vw;

    background: #707070;
    cursor: pointer;
}

.buttons button{
    font-size: 4vw;
    border-radius: 5vw;
}